*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


@import './base/fonts';
@import './base/mapas';
@import './base/mixins';
@import './components/inicio';
@import './components/servicios';
@import './components/galeria';
@import './components/sobremi';
@import './base/medias';