header{
    display: flex;
    min-height: 70px;
    background-color: #64c7bf;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: $main-fonts;
    
    .logo{
        display: flex;
        align-items: center;
    
        img{
            height: 50px;
            width: 50px;
            margin-right: 10px;
        }    

        .logo-nombre{
                font-family: $main-fonts;
                color: #0c423e;
        }
    }
    nav {
       a {
            font-weight: 600;
            padding-right: 10px;
            margin-left: 20px;
            text-decoration: none;
            color: #0c423e;
            &:hover{
            color: white;
            transition: 0.5s;
            }
        } 
    }

}




.index{
    background-image: url(../multimedia/imagenes/home.jpg);   
    background-repeat: no-repeat;
    background-size: cover; 
}


.fondo{
    background-color: #d1fffb;
}


.principal {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    font-family: $main-fonts;
    color: #0c423e;
}

footer .texto{
    background-color: rgb(250, 241, 221); 
    
}  

footer .redes{     
    background-color: rgb(170, 230, 250);  
    display: flex;    
    flex-direction: column;   
    justify-content: center;   
    align-items: center; 
}
