.contenedor-servicios{
    @include servicios-sobremi(flex, center, center, 150px);

    .texto-servicios { 
        text-decoration: map-get($texto-srvcs-sbrm, text-decoration);
        font-size: map-get($texto-srvcs-sbrm, font-size);
        color: map-get($texto-srvcs-sbrm,  color);
        font-family: map-get($texto-srvcs-sbrm, font-family);
        padding-right: map-get($texto-srvcs-sbrm, padding-right);
    }
    
}

