.contenedor-sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;


    .texto-sobremi{
        text-decoration: none;
        font-size: 25px;
        color: #0c423e;
        font-family: 'Nunito', sans-serif;
        padding-right: 80px;
    }
    
}

